.cart-icon {
  background-image: url("../../../public/Cart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 36px;
  width: 36px;
}
.cart-icon:hover {
  cursor: pointer;
}
.cart-dropdown {
  visibility: hidden;
  position: absolute;
  display: flex;
}

.cart-dropdown.active {
  visibility: visible;
  position: absolute;
  z-index: 5;
  padding-top: 20px;
  height: 400px;
  width: 500px;
  right: 150px;
  background-color: white;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cart-dropdown .content-box {
  width: 80%;
}

.cart-dropdown_items {
  width: 100%;
  overflow-x: auto;
  height: 65%;
}

.cart-dropdown_checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35%;
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
  font-weight: bold;
}
