.cart-icon {
  background-image: url("../../../public/Cart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 36px;
  width: 36px;
}
.cart-icon:hover {
  cursor: pointer;
}

.cart-dropdown_items {
  width: 100%;
  overflow-x: auto;
  height: 65%;
}


.empty-message {
  font-size: 18px;
  margin: 50px auto;
  font-weight: bold;
}
