.articles_page .filter {
  margin-top: 50px;
  display: flex;
  margin-left: 15px;
}

.articles_page .filter .select {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.articles_page .filter .select label {
  margin-bottom: 5px;
}

.articles_list {
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
.articles_list .pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.articles_list h3 {
  margin-bottom: 50px;
}

.artikli {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
  width: 100%;
  padding-bottom: 20px;
}
