.Categories_box {
  margin-top: 50px;
}

.Categories_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Categories_header span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Categories_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
