.profile_view {
  display: flex;
  width: 100%;
}
.profile_info {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.profile_edit {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.profile_user_about {
  display: flex;
}
.user_image {
}
.user_image img {
  width: 150px;
  height: 150px;
}
.user_description {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profile_statistic {
  width: 50%;
}
.profile_statistic_description {
  display: flex;
}

.profile_page .narudzbe {
  margin-top: 50px;
}
.profile_page .narudzbe h3 {
  margin-bottom: 50px;
}
