.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0094bf;
  display: flex;
  justify-content: center;
  height: 120px;
}
.navbar-container {
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-routes {
  margin-left: 60px;
  display: flex;
  gap: 80px;
}

.dropdown_items {
  display: flex;
  align-items: center;
}
