.cart_item {
  display: grid;
  grid-template-columns: 10% 60% 10% 10% 10%;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(213, 219, 219);
}
.cart_item_photo {
  width: 100%;
  height: auto;
}

.cart_item_naziv {
  font-size: 12px;
}

.cart_item_kolicina_edit {
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

.cart_item_kolicina_edit:hover {
  cursor: pointer;
}
.cart_item_removeall:hover {
  cursor: pointer;
}
