.admin-navbar-container {
  height: 60px;
  border-radius: 15px;
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #0286b1;
}
.admin-routes {
  margin: auto;
  display: flex;
  gap: 80px;
}
.admin-routes a {
  color: white;
  display: flex;
  align-items: center;
}
