.signup_page {
  display: flex;
  height: 100vh;
}

.signup_page .image {
  background: url(https://images.unsplash.com/photo-1656267124947-39f3a2102d85?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTY4MDMzODY&ixlib=rb-1.2.1&q=80)
    rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.signup_page .content_box {
  width: 50%;
  display: flex;
  justify-content: center;
}
.signup_page .content_box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
