.signup_page {
  display: flex;
  height: 100vh;
}

.signup_page .image {
  background: url("../../../public/login.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 95%;
  margin: auto;
}

.signup_page .content_box {
  width: 50%;
  display: flex;
  justify-content: center;
}
.signup_page .content_box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
