.statistic-box {
  width: 190px;
  height: 190px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}

.statistic-box .description span {
  font-size: 10px;
}
